#story-form {
    margin: 5%;
    display: none;
    flex-direction: row;
    justify-content: center;
}

textarea {
    border-style: hidden;
    color: grey;
    width: 500px;
    resize: none;
}

textarea:focus {
    outline: 0px;
}

#title-textarea {
    font-size: 30px;
}

#button-input {
    align-self: baseline;
    font-family: 'Lucida Grande',Arial,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 16px;
    text-transform: uppercase;
    padding: 4px 12px;
    background-color: #fff;
    cursor: pointer;
}

#pseudo-textarea {
    font-size: 15px;
}

#story-textarea {
    font-size: 18px;
    height: 250px;
}

#all-posts {
    display: flex;
}
